<td>
  <% if book.favorites_by?(current_user) %>
    <%= link_to book_favorites_path(book.id), class: "text-danger fas fa-heart", method: :delete do %>
      <%= book.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book.id), class: "fas fa-heart", method: :post do %>
      <%= book.favorites.count %>
    <% end %>
  <% end %>
</td>