<div class="row">
  <div class='col-md-3'>
    <%= render "users/user_info", user: current_user %>
    <%= render "books/new_book", book: @book %>
  </div>
  <div class='col-md-8 offset-md-1'>
    <%= render "users/users_table", users: @users %>
  </div>
</div>