<div class="row">
  <div class='col-md-3'>
    <%= render "users/user_info", user: @user %>
    <%= render "books/new_book", book: @book %>
  </div>
  <div class='col-md-8 offset-md-1'>
    <%= render "books/books_table", books: @user.books %>
  </div>
</div>